.Match {
    border-top: solid 8px #FF5B01;
    h1 {
        font-size: 20px;
    }
    .button-primary {
        display: inline;
    }
    button {
        width: 100%;
    }
}

.box-match {
    border-radius: 16px;
    background-color: #462842;
    max-width: 245px;
    margin: 0 auto;
    .box-match--image {

    }
    .box-match--content {
        color: #fff;
        padding: 16px;

        h3 {
            font-size: 20px;
        }

        a {
            color: #fff;
        }
    }
}